Repository bounswe/bounswe2024group6, pull requests merged in 2024-04, with the labels that each got.

#89 feat(frontend): set up shadcn/ui component library
  frontend/components.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/src/App.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: priority: high, domain: frontend

#90 feat(frontend, devops): Setup Frontend React App, Dockerize Frontend, Backend and Database Services, Setup shadcn/ui Component Library
  .env.example
  .gitignore
  backend/django-rest-auth/Dockerfile
  backend/django-rest-auth/requirements.txt
  docker-compose.yml
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/Dockerfile
  frontend/README.md
  frontend/components.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/ui/button.tsx
  frontend/src/index.css
  frontend/src/lib/utils.ts
  frontend/src/main.tsx
  frontend/src/vite-env.d.ts
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Labels: priority: high, domain: frontend, domain: devops

#92 feat(frontend): Setup React Router and Initial File Structure
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/assets/react.svg
  frontend/src/components/Navbar.tsx
  frontend/src/components/index.tsx
  frontend/src/hooks/index.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/main.tsx
  frontend/src/pages/Architect.tsx
  frontend/src/pages/Building.tsx
  frontend/src/pages/Feed.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Style.tsx
  frontend/src/pages/index.tsx
Labels: priority: high, domain: frontend

#95 feat(frontend): initial designs for Home, Building pages and Navbar component
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/components/Navbar.tsx
  frontend/src/components/index.tsx
  frontend/src/components/ui/avatar.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/components/ui/separator.tsx
  frontend/src/hooks/index.tsx
  frontend/src/hooks/useAuth.tsx
  frontend/src/main.tsx
  frontend/src/pages/Architect.tsx
  frontend/src/pages/Building.tsx
  frontend/src/pages/Feed.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Profile.tsx
  frontend/src/pages/Style.tsx
  frontend/src/pages/index.tsx
Labels: priority: high, domain: frontend

#96 feat: WikiData API Query
  backend/django-rest-auth/login_signup.md
  backend/django-rest-auth/requirements.txt
  backend/django-rest-auth/server/__pycache__/__init__.cpython-311.pyc
  backend/django-rest-auth/server/__pycache__/serializers.cpython-311.pyc
  backend/django-rest-auth/server/__pycache__/settings.cpython-311.pyc
  backend/django-rest-auth/server/__pycache__/urls.cpython-311.pyc
  backend/django-rest-auth/server/__pycache__/utils.cpython-311.pyc
  backend/django-rest-auth/server/__pycache__/views.cpython-311.pyc
  backend/django-rest-auth/server/__pycache__/wsgi.cpython-311.pyc
  backend/django-rest-auth/server/urls.py
  backend/django-rest-auth/server/utils.py
  backend/django-rest-auth/server/views.py
Labels: feature, domain: backend

#135 feat(frontend): implement Browser page display
  backend/django-rest-auth/server/settings.py
  backend/django-rest-auth/server/views.py
  frontend/package.json
  frontend/src/components/Navbar.tsx
  frontend/src/components/SearchItem.tsx
  frontend/src/components/index.tsx
  frontend/src/lib/baseUrl.ts
  frontend/src/main.tsx
  frontend/src/pages/Browse.tsx
  frontend/src/pages/Building.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/index.tsx
Labels: priority: medium, domain: frontend

#136 Mobile
  mobile/searchitect/.gitignore
  mobile/searchitect/app.json
  mobile/searchitect/app/_layout.tsx
  mobile/searchitect/app/api.ts
  mobile/searchitect/app/auth/login.tsx
  mobile/searchitect/app/auth/register.tsx
  mobile/searchitect/app/feed.tsx
  mobile/searchitect/app/index.tsx
  mobile/searchitect/app/landing.tsx
  mobile/searchitect/app/landingImage.tsx
  mobile/searchitect/babel.config.js
  mobile/searchitect/package-lock.json
  mobile/searchitect/package.json
  mobile/searchitect/tailwind.config.js
  mobile/searchitect/tsconfig.json
Labels: priority: high, feature, domain: mobile
